/*p {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border-radius: 100px;*/
/*    background-color: #b4d455;*/
/*!*}*!*/
.img-fluid{
    max-width: 100%;
    height: auto;
}

img{
    width: 100px;
    height: 100px;
}