





 * {
    margin: 5px;
    padding: 0;
}



ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

li {
    margin-bottom: 5px;
    width: 100%;

    text-align: center;
    background-color: lightgray;
    padding-bottom: 15px;

}

img {
    width: 100%;
    height: 100%;
}

.alert-info {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

h1 {
   text-align: center;

}

p {
    margin-top: 25px;
    margin-bottom: 15px;
}
/*.main {*/
/*    !*height: 100%;*!*/
/*}*/



 /*.header-img {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*   */
/*}*/



@media (min-width: 590px){
    .nav-links {
        /*display: flex;*/
        /*justify-content: flex-end;*/

    }


    nav {
        /*display: flex;*/
        /*justify-content: flex-end;*/
    }

    ul {
        display: flex;
        flex-direction: row;
        /*justify-content: flex-end;*/
        /*align-content: flex-start;*/
        /*align-items: end;*/
        margin: auto;
        padding: 0;
    }

    li {
        /*text-align: right;*/
        background-color: white;
        text-align: right;
        padding: 0;

        /*align-self: flex-start;*/
    }


    .main {
        /*width: 10px;*/
        float: left;
        width: 70%;
        padding: 0;
        margin: 0;
        /*clear: right;*/
        /*display: flex;*/
    }

    .sub-section {
        float: right;
        width: 30%;
        /*padding: 0;*/
        margin: auto;
        /*margin-left: 10px;*/
    }


     footer>p {
         clear: both;
         display: flex;
         align-items: flex-end;



     }

}
 /*.main p{*/
 /*    float: left;*/
 /*    clear: both;*/
 /*}*/
 /*!*.main p,h2{*!*/
 /*!*    float: left;*!*/
 /*!*}*!*/

 /*.sub-section p {*/
 /*   float: right;*/
 /*    clear: both;*/
 /*}*/
 /*}*/
/*    img {*/
/*        height: 150px;*/
/*        width: 350px;*/

/*    }*/
/*    ul {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: flex-start;*/
/*        margin-bottom: 30px;*/

/*    }*/

/*    a {*/
/*        background-color: #847477;*/

/*    }*/
/*    nav {*/
/*        width: 100%;*/
/*    }*/
/*}*/
