.fancy-header {
    color: blue; /* single line comment */
    text-decoration: underline;
}
h1 {
    text-align: center;
}
h1,h3,h4 {
    color: blue;
    text-decoration: underline;
}
img {
    width: 200px;
    length: 200px
}
body {
    background-color: aqua;
    background-image: url("https://i.pinimg.com/564x/7e/87/b3/7e87b329a7fc061f59cc49139c9a4a52.jpg");
    background-position: center;
    background-size: contain;
    font-family: "Tamil Sangam MN";
}
ul {
    list-style-type: lower-greek;
}

table,td{
    border: 1px solid blue;
    padding: 10px;
}
a:hover {
    color: red;

}